<html lang="ko">
<head>
  <meta charset="utf-8" />
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" type="text/css" href="todo3.css">
</head>
<body>
  <div id="app">
    <h1>할 일</h1>
    <table>
      <tr>
        <td>ID</td></td><td>내용</td><td>날짜</td><td></td>
      </tr>
      <tr v-for="todo in todoList">
        <td>{{ todo.id }}</td>
        <td>{{ todo.description }}</td>
        <td>{{ todo.due_date }}</td>
        <td><button type="button" class="small" @click="deleteTodo(todo.id)">삭제</button></td>
      </tr>
    </table>
    <input type="text" v-model.trim="todo.description" placeholder="내용을 입력하세요" />
    <input type="date" v-model="todo.due_date" />
    <button type="button" @click="addTodo" :disabled="!todo.description">할일 추가</button>
  </div>

  <script type="text/javascript">
    var app = new Vue({
      el: '#app',
      data: {
        todoList: [],
        todo: {}
      },
      mounted() {
        this.reload(); //앱이 시작되자마자 서버에서 조회한다. 
      },
      methods: {
        addTodo: function() {
          axios.post("http://localhost:8088/todo1/add", this.todo)
               .then(response => this.reload())
               .catch(error => console.log(error));
          this.todo = {}; //조회 요청이 끝나면 할일인 then 메소드에 구현하는 것이 좀 더 효율적임.
        },
        deleteTodo: function(id) {
          if (confirm("삭제하시겠습니까?")) {
            axios.delete("http://localhost:8088/todo1/delete?id=" + id)
                 .then(response => this.reload())
                 .catch(error => console.log(error));
          }
        },
        reload: function() {
          axios.get("http://localhost:8088/todo1/list")
               .then(response => this.todoList = response.data )
               .catch(error => console.log(error));
        }
      }
    })
   </script>
</body>
</html>


