<html lang="ko">
<head>
  <meta charset="utf-8" />
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" type="text/css" href="todo4.css">
</head>
<body>
  <div id="app">
    <div id="main">
      <h1>할 일</h1>
      <table>
        <tr>
          <td>ID</td></td><td>내용</td><td>날짜</td><td></td>
        </tr>
        <tr v-for="todo in todoList">
          <td>{{ todo.id }}</td>
          <td>{{ todo.title }}</td>
          <td>{{ todo.due_date }}</td>
          <td><button type="button" class="small" @click="deleteTodo(todo.id)">삭제</button></td>
        </tr>
        <tr v-if="todoList.length == 0">
          <td colspan="4">등록된 자료가 없습니다.</td>
        </tr>
      </table>
      <button type="button" @click="showDialog = true">할일 추가</button>
    </div>

    <div id="backdrop" v-show="showDialog"></div>
    <div id="dialog" v-show="showDialog">
      <h1>할일 등록</h1>
      <input type="text" v-model.trim="todo.title" placeholder="제목을 입력하세요"/>
      <textarea v-model.trim="todo.description" placeholder="내용을 입력하세요"></textarea>
      <div>
        <label>날짜:</label>
        <input type="date" v-model="todo.due_date" />
        <button type="button" @click="addTodo" :disabled="!todo.title">저장</button>
        <button type="button" @click="showDialog = false">취소</button>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    var app = new Vue({
      el: '#app',
      data: {
        todoList: [],
        todo: {},
        showDialog: false
      },
      mounted() {
        this.reload();
      },
      methods: {
        addTodo: function() {
          axios.post("http://localhost:8088/todo1/add", this.todo)
               .then(response => {
                 this.reload();
                 this.todo = {};
                 this.showDialog = false; //보내고 나서 등록창은 사라짐. 
               })
               .catch(error => this.onError(error)); 
          },
        deleteTodo: function(id) {
          if (confirm("삭제하시겠습니까?")) {
            axios.delete("http://localhost:8088/todo1/delete?id=" + id)
                 .then(response => this.reload())
                 .catch(error => this.onError(error));
            }
        },
        reload: function() {
          console.log(this.showDialog);
          axios.get("http://localhost:8088/todo1/list")
               .then(response => this.todoList = response.data )
               .catch(error => this.onError(error));
        },
        onError: function(error) {
          console.log(error);
          alert(error.message);
        }
      }
    })
   </script>
</body>
</html>

