<html>
<head>
  <meta charset="utf-8" />
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
  <style>
    div#app { padding: 30px; margin: 30px auto; width: 350px; 
      border: 1px solid #ccc; box-shadow: 3px 3px 3px #aaa; }
    input { margin:5px; padding: 5px; width: 200px; }
    .red {color: red}
  </style>
</head>
<body>
  <div id="app">
    <div>
      <h1>합계</h1>
      <p> <input type="number" v-model="num" /></p>
      <p><input type="number" v-model="num2" /></p> <hr>
      <p><input type="number" v-model="sum" />{{sum%2==0?"짝수":"홀수"}}</p>
    </div>
  <script type="text/javascript">
    var app = new Vue({
      el: '#app',
      data: {
        num: 0,
        num2: 0,
        result: 0,
        type: "짝수"
      },
      computed:{
        sum : {
          get() {
            return Number(this.num)+Number(this.num2);
          },
          set(value) {
            this.num = value / 2
            this.num2 = value / 2
          }
        }
      }
     
    })    
   </script>
</body>    
</html>

