<html>
<head>
  <meta charset="utf-8" />
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <style>
    div#app { margin: 20px auto; padding: 20px; width: 300px;
          border: 1px solid gray; box-shadow: 5px 5px 5px #aaa; }
    p { font-size: 15pt; color: blue; }
    select { padding: 5px; font-size: 15pt; width: 150px; margin: 10px; }
    label { font-size: 14pt; }
  </style>

</head>
<body>
    <div id="app">
       <h1>Select</h1>
       <p>{{choice}}</p>
       <hr>
       <select v-model="choice">
           <option>yellow</option>
           <option>purple</option>
           <option>green</option>
       </select>
       <div>
           <label>
               <input type="radio" value="yellow" v-model="choice">yellow
           </label>
           <label>
                <input type="radio" value="purple" v-model="choice">purple
            </label>
            <label>
                 <input type="radio" value="green" v-model="choice">green
            </label>
       </div>
    </div>
    <script type="text/javascript">
       var app = new Vue({
           el:'#app',
           data:{
               choice:'yellow' //default 값
           }
       })

    </script>
  
</body>
</html>
