<html>
<head>
  <meta charset="utf-8" />
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <style>
    div#app { padding: 30px; margin: 30px auto; width: 400px; 
      border: 1px solid #ccc; box-shadow: 3px 3px 3px #aaa;  }
    table { border-collapse: collapse; margin-top: 20px; }
    td { padding: 10px; border: 1px solid black; }

  </style>
</head>
<body>
  <div id="app">
      <input type="text" v-model.number="size" />
      <table>
          <tr v-for="r in size">
              <td v-for="c in size">
                {{(r - 1) * size + c}}
              </td>
          </tr>
      </table>
  </div>
  <script type="text/javascript">
    var app = new Vue({
      el: '#app',
      data: {
          size:2
      }
    })
   </script>
</body>
</html>

